/* Breadcrumb Style Headers*/
.breadcrumb-header .breadcrumb {
    background-color: inherit;
    font-weight: normal;
    padding: 0px;
}

.breadcrumb-header .breadcrumb li {
    color: #777777;
}

.breadcrumb-header .add-enrollment {
    color: #51a351;
}

.breadcrumb-header .breadcrumb .divider {
    padding: 0px;
}

#crh-hero {
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
}

.phat {
    margin-right: 5px;
    margin-bottom: 5px;
}
